<!-- TODO: Agregar un sliders para mostrar las peliculas en una sola columna -->
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h2>Todas las peliculas</h2>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-sm">
        <div class="card">
          <button mat-button>
            <img src="../../assets/img/dark-knight.jpg" class="card-img-top" alt="Batman 1"
              style="width: 20rem; height: 30rem">
          </button>
          <div class="card-body">
            <h5 class="card-title text-center">Batman: El caballero de la noche</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <button mat-button>
            <img src="../../assets/img/the_matrix-155050517-large.jpg" class="card-img-top" alt="Matrix"
              style="width: 20rem;height: 30rem">
          </button>
          <div class=" card-body">
            <h5 class="card-title text-center">Matrix</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <button mat-button>
            <img src="../../assets/img/toy-story.jpg" class="card-img-top" alt="Toy Story"
              style="width: 20rem;height: 30rem">
          </button>
          <div class=" card-body">
            <h5 class="card-title text-center">Toy Story</h5>
          </div>
        </div>
      </div>
    </div> -->

  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <button mat-button>
                <img src="../../assets/img/dark-knight.jpg" class="card-img-top" alt="Batman 1"
                  style="width: 20rem; height: 30rem">
              </button>
              <div class="card-body">
                <h5 class="card-title text-center">Batman: El caballero de la noche</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <button mat-button>
                <img src="../../assets/img/the_matrix-155050517-large.jpg" class="card-img-top" alt="Matrix"
                  style="width: 20rem;height: 30rem">
              </button>
              <div class=" card-body">
                <h5 class="card-title text-center">Matrix</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <button mat-button>
                <img src="../../assets/img/toy-story.jpg" class="card-img-top" alt="Toy Story"
                  style="width: 20rem;height: 30rem">
              </button>
              <div class=" card-body">
                <h5 class="card-title text-center">Toy Story</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <button mat-button>
                <img src="../../assets/img/dark-knight.jpg" class="card-img-top" alt="Batman 1"
                  style="width: 20rem; height: 30rem">
              </button>
              <div class="card-body">
                <h5 class="card-title text-center">Batman: El caballero de la noche</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <button mat-button>
                <img src="../../assets/img/the_matrix-155050517-large.jpg" class="card-img-top" alt="Matrix"
                  style="width: 20rem;height: 30rem">
              </button>
              <div class=" card-body">
                <h5 class="card-title text-center">Matrix</h5>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <button mat-button>
                <img src="../../assets/img/toy-story.jpg" class="card-img-top" alt="Toy Story"
                  style="width: 20rem;height: 30rem">
              </button>
              <div class=" card-body">
                <h5 class="card-title text-center">Toy Story</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>