<div class="card">
  <!-- <button mat-button> -->
  <img src={{pelicula.img}} class="rounded " alt="Cartel de pelicula"
    style="width: 12rem; height: 19rem; align-content:center;">
  <!-- </button> -->

  <div class="card-body">
    <h5 class="card-title text-center">{{pelicula.titulo}}</h5>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item">{{pelicula.anio}}</li>
      <li class="list-group-item">{{pelicula.puntaje}}</li>
      <li class="list-group-item"> {{pelicula.genero}}</li>
    </ul>
  </div>
</div>